/* #region FlexStack */
flex-stack{ display:flex; flex-direction:row; flex-flow:row wrap; }
flex-stack > * { margin: 2px 2px 2px 2px; }
flex-stack.row6 > * { flex:1 1 13%; }
flex-stack.row5 > * { flex:1 1 18%; }
flex-stack.row4 > * { flex:1 1 23%; }
flex-stack.row3 > * { flex:1 1 30%; }
flex-stack.row2 > * { flex:1 1 45%; }
flex-stack.row1 > * { flex:1 1 51%; }
/* #endregion */

