button-strip{ 
    position:fixed; z-index:100;
    display:flex; flex-direction:column;
    /* themes */
    width:50px; background-color:#333333;
}

button-strip > header{ flex:1 1 auto; display:flex; flex-direction:column; }
button-strip > footer{ flex:1 1 auto; display:flex; flex-direction:column; justify-content: flex-end; }

button-strip a {
    display:grid; align-items:center; justify-items: center;
    text-decoration: none;
    /* themes */
    height:50px; color:#818181; font-size:24px;
    border-width:0px 3px;
    border-style:solid;
    border-color:transparent;
    transition: all 0.2s ease-in-out;
}

button-strip a:hover { color:#F5F5F5; }

button-strip.left{ top:0; bottom:0; left:0; }
button-strip.left a.sel{ border-left-color:white; }
button-strip.right{ top:0; bottom:0; right:0; }
button-strip.right a.sel{ border-right-color:white; }