slide-input{ display:flex; flex-direction:row; user-select: none; min-width:0px; height:20px; }
slide-input svg{ flex:1 1 auto; }
slide-input .rng_connect{ stroke:white; stroke-width:6px; stroke-linecap:round; }
slide-input .rng_track{ stroke:gray; stroke-width:6px; stroke-linecap:round; }
slide-input .rng_thumb { user-select: none; }
slide-input .rng_thumb rect{ fill:white; rx:3px; }
slide-input .rng_thumb text{ fill:black; font-size:13px; font-family: monospace; font-weight:bold; text-align:center; }
